body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.caja_audio {
    margin: 20px auto;
    padding: 20px;
    background-color: #848EFF;
    display: table;
    border-radius: 20px 20px 20px 20px;
}

div.caja_audio:hover {
    background-color: #B5BBFF;
}