table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

th {
    border: 1px solid black;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #9fda9a;
}

#modulos {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

#recreo {
    border: 1px solid black;
    text-align: center;
    background-color: #f3d9d9;
    white-space: pre;
}

#horas {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #9fda9a;
    font-weight: bold;
}