body {
    font-size: 16px;
    font-family: Arial;
    text-align: center;
}

table {
    empty-cells: hide;
}

th,td {
    border: 1px solid black;
    padding: 8px;
}

.celdas {
    color: blue;
    background-color: #ccffff;
}

.caption {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
}

.encabezados {
    background-color: #ffffcc;
    color: #610031;
    font-weight: bold;
}
