* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

body {
    background: #B6B6B6;
}

header, nav, section, article, aside, footer {
    display: block;
}

article {
    background: #FFBA90;
    width: 70%;
    float: left;
}

article #pie {
    background: #f9b68b;
    border: 1px solid #8B463C;
}

article h2 {
    padding: 20px;
    padding-left: 0px;
    font-size: 30px;
}

article p {
    padding: 20px;
    color: #8B463C;
}

#contenido h2 {
    color: #6E8A7C;
}

#ruta {
    color: #6E8A7C;
}

#general {
    border: 4px solid black;
    margin: 20px;
}

#cabecera {
    background: #ABEAAB;
    padding: 30px;
}

#cabecera h1 {
    font-weight: normal;
    color: #880015;
    padding: 5px;
}

#cabecera p {
    color: #6BA56B;
}

#menu {
    background: #A6CEE5;
    /*padding: 15px;*/
}

#menu li {
    display: inline-block;
    padding: 15px;
    border-right: 1px solid #8CB4CB;
}

#menu a {
    text-decoration: none;
    color: #4C749A;
}

#fondo {
    background: #FFF8C0;
    padding: 20px;
    overflow: hidden;
}

#ruta {
    background: #F8B48A;
    border: 2px solid #EDA97F;
    padding: 8px;
}

#relleno {
    background: #C98258;
    height: 300px;
    border-radius: 13px;;
}

#redes li {
    display: inline-block;
}

#derecha {
    float: left;
    background: #C4BACF;
    width: 25%;
    margin-left: 30px;
    padding: 0px;
}

#derecha header {
    border: 1px solid #9D94A8;
    border-radius: 3px;
}

#derecha img {
    padding: 5px;
}

#derecha h3 {
    padding: 5px;
    color: #595959;
}

#encabezado {
    background: #BAB0C5;
    border-bottom: 1px solid #9D94A8;
    border-radius: 3px;
}