* {
    font-family: Arial;
}

body {
    background: #B6B6B6;
}

header, nav, section, article, aside, footer {
    display: block;
}

#general {
    background: #FFF8C0;
    border: 4px solid black;
}

#cabecera {
    background: #ABEAAB;
}

#menu {
    background: #A6CEE5;
}

#menu li {
    display: inline-block;
}

#ruta {
    background: #F8B48A;
    border: 2px solid #EDA97F;
}

#contenido header {
    background: #FFBA90;
}